<div class="form">
  <form class="row g-3" method="post">

    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="1234 Main St"
        name="search"
      />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>